/* Map */


.row {
  /* margin-right: -15px;
  margin-left: -15px;
  display: flex; */
  align-items: center;
  justify-content: center;
  border: 5px solid green;
}

div {
  border: 1px solid black;
}

containerStyle {

}
